<!doctype html>
<html lang="en">
    <head>
        <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet" />
        <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet" />
    </head>
    <body>
        {% block body %}
        <form action="/thumbnails" method="POST">
            cq image url <input class="span12" type="text" width="100%" name="{{ PARAM_IMAGE_URL }}" value="http://author01.dev.nymag.biz:4502/content/dam/fashion/test/72.jpg" /><br />
            quality <input type="text" name="{{ PARAM_QUALITY }}" value="70" /><br />
            <fieldset>
                resize method
                <select name="{{ PARAM_RESIZE_METHOD }}">
                    {% for i,resize_method in RESIZE_METHODS %}
                        <option value="{{ i }}">{{ resize_method }}</option>
                    {% endfor %}
                </select><br />
                blur <input type="text" name="{{ PARAM_BLUR }}" value="1.0" />
            </fieldset>
            <br />
            <input type="submit" value="Generate Thumbnails" />
        </form>
        {% endblock %}
    </body>
</html>
