{% extends "index.html" %}

{% block body %}
    {% if error_msg %}
        <div class="error">{{ error_msg }}</div>
    {% endif %}

    <h1>{{ image_url }}<h1>
    <div>took: {{ took }}</div>

    {% for specs in rendition_specs %}
    <table>
        <tr>
            {% for spec in specs %}
            <td>
                <table style="font-size: small;">
                    <tr>
                        <td>
                            <img src="{{ CDN }}{{ spec.rendition_url }}" title="{{ spec.spec }}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ spec.rendition_size }} KB
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Quality: {{ spec.quality }} %
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Blur: {{ spec.blur }} 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Resize: {{ spec.resize_method }} 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Progressive: {{ spec.is_progressive }}
                        </td>
                    </tr>
                </table>
            </td>
            {% endfor %}
        </tr>

    </table>
    {% endfor %}
{% endblock %}
